<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/app1/Update" method="POST"> <!--  action name is the name inside urls of app -->   
        {% csrf_token %} 
        <input type="hidden" id="id" name="id" value={{ updateuser.id }}>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" value={{ updateuser.username }}>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" value= {{ updateuser.password }} >

        <input type="submit" value="Update">
    </form>
</body>



</html>